:root {
    --background-color: #f5f5f5;
    --border-color: #e0e0e0;
    --header-color: #454545;
    --primary-color: #4caf50;
    --secondary-color: #ff9800;
    --text-color: #212121;
    --top-nav-color: #064e3b;
}

/*Reset CSS*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*Global CSS*/
body {
    font-family: Arial, sans-serif;
    margin: unset;
    background: #ececec;
}

h1 {
    font-size: 2em;
    color: var(--header-color);
}

.month-navigation {
    padding: 10px;
}

/* Calendar Event Styling */
.fc-event {
    background-color: #f8f9fa !important;
    border: 1px solid #c5cad1 !important;
}

.fc-event-main {
    color: #212529 !important;
}

.fc-event-title {
    font-weight: 500;
    padding: 2px 4px;
}

.fc-daygrid-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc {
    /* Ensures the calendar takes full width of its container */
    max-width: 100%;
    margin: 0 auto;
}

.fc-header-toolbar {
    /* Adds some spacing around the toolbar */
    padding: 1rem 0;
}

.fc-view {
    /* Ensures proper background color */
    background: #fff;
}

/* Optional: Style the calendar buttons */
.fc-button {
    background-color: #f3f4f6 !important;
    border: 1px solid #e5e7eb !important;
}

.fc-button-active {
    background-color: #e5e7eb !important;
}

