:root {
    --background-color: #f5f5f5;
    --border-color: #e0e0e0;
    --header-color: #454545;
    --primary-color: #4caf50;
    --secondary-color: #ff9800;
    --text-color: #212121;
    --top-nav-color: #064e3b;
}

/*Reset CSS*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*Global CSS*/
body {
    font-family: Arial, sans-serif;
    margin: unset;
    background: #ececec;
}

h1 {
    font-size: 2em;
    color: var(--header-color);
}

.month-navigation {
    padding: 10px;
}