.topNav {
    background-color: var(--top-nav-color);
    padding: 5px 5px 5px 10px;
}

.topNav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none
}

.topNav a {
    color: #ffffff;
    text-decoration: none;
}

.topNav a:hover {
    color: #d1d5db
}